/*  body:----------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic);

/*  CSS reset rule----------------*/
* {
    margin: 0px;
    padding: 0px;
}
 
/*  CSS color guide:----------------*/


/*  body:----------------*/
body { 
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px; 
    font-weight: 300;
    font color: #555;
    margin: 0;
    padding: 0;
}

#page {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    color: #ccc;;
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 2% 0 0 0;
    text-transform: uppercase;
}


h3 { 
    color: #555;
    margin: 0; 
    font-weight: 700;
    text-transform: uppercase;
    padding: 15% 0 0 0;
}

p { color: #555; line-height: 1.5em}

a { color: #fff; text-decoration: none }

/*  Header:----------------*/

header img .logo {
    z-index: 1;
    position: absolute;
    display: block; width: 50px; height: 50px;
    background: url(.../images/sfin_logo_50x50px.png) no-repeat: 0 0; 
    background-size: contain;
    top: 15px; left: 20px;
}

h1 { 
    font-weight: 700;
    font-size: 5em; 
    text-align: left;
    color: #696969;
    text-transform: uppercase;
    padding: 3% 0 0 0;
}

/*   Section - All:----------------*/

section {
    padding: 0 30px;
}

section::after {
    content: ' ';
    display: block;
    clear: both;
}


/*   Section - Main:----------------*/
section.main {
    position: relative;
    margin-top: 20px; 
    margin-bottom: 30px;
    padding: 0;
    position: relative;
}

section.main aside {
    width: 32%;
    float: left;
    margin-right: 10px;
}

section.main aside .content_about {
    padding: 0 2% 0 0;
    float: left;
}

section.main aside .content_iwillimage {
   float: right;
   width: 68%;
}
section.main aside .content_iwillimage img {
   background-image: url(.../images/sfin_logo_25x25px.png);
   margin-bottom: 10px;
   width: 600px;
   float: right;
 
}

/*   Section - Image Gallery:----------------*/
section.imggallery {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ccc;   
}




/*  Navigation */

nav {
    color: #696969;
    position: absolute;
    top: 70px; left: 0;
    padding: 0;
    width: 100%;
}

nav::after {
    content: '';
    display: block;
    clear: both;
}

nav ul {list-style: none;
    margin: 0;
    padding: 0px;
}

nav ul li a {
    display: inline-block;
    color: #696969;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
    position: relative;
    text-align: center;
}

nav ul li a:visited {
    (color: #b7b7b7)
}

nav ul li a:hover {
    color: #000;
    background-color: #ccc;
}


/*  top-level  */
nav > ul {
    padding-left: 70px;
}

nav > ul > li {
    float: right;
}
 



/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    font-size: .9em;
    background-color: #ccc;
    margin: 0px;
    padding: 20px;
    color: #000;
    }

footer .content {
    display: inline;
    }

footer a {
    margin-left: 20px;
    color: #777;
}

footer a:visited {
    color: #777;
}    

footer a:hover {
    color: #fff;
}


