body {
	color: black;
	background-color: white;
	text-align: center;
}

h1 {
	font-family: helvetica;
	color: black;
	font-size: 36pt;
	font-weight: bold;
	text-align: center;
}

h2  {
	font-family: helvetica;
	color: black;
	font-size: 10pt;
	font-weight: lighter;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
}

p{
	font-family: helvetica;
	color: black;
	font-size: 10pt;
	font-weight: lighter;
	text-align: left;
    margin-top: -60px;
    margin-bottom: 75px;
    margin-right: 30%;
    margin-left: 30%;
}

