h1, h2, body, p {
	font-family: helvetica;
	color: black;
	background-color: white;
	text-align: center;
}

h1 {
	font-size: 48pt;
	font-weight: bold;
}
h2  {
	font-size: 15pt;
	font-weight: lighter;
	letter-spacing: 1px;
	text-transform: uppercase;
}

p{
	font-size: 18pt;
	margin: 6em;
	font-weight: lighter;
	line-height: 1.5em;
	text-align: left;
    margin-top: -60px;
    margin-bottom: 75px;



   
}

