/*  body:----------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,700,700italic);

/*  CSS reset rule----------------*/
* {
    margin: 0px;
    padding: 0px;
}
 
/*  CSS color guide:----------------*/


/*  body:----------------*/
body { 
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px; 
    font-weight: 300;
    font color: #555;
    margin: 0;
    padding: 0;
}

#page {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

h1 {
    margin: 0 ;
    font-size: 2.5em;
    font-weight: 700;
}

h2 {
    color: #ccc;;
    margin: 0;
    padding: 3% 0 0 0;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    display: inline;
}


h3 { 
    color: #555;
    margin: 0; 
    font-weight: 700;
    text-transform: uppercase;
    padding: 15% 0 0 0;
}

h4 {
    color: #ccc;;
    margin: 100px 0 0 0;
    padding: 3% 0 0 0;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    display: inline;
}

p { color: #555; line-height: 1.5em}

hr {
    margin: 20%;
}

a { color: #fff; text-decoration: none }

/*  Header:----------------*/

header img .logo {
    float: left;
    display: block;
    width: 50%; height: 50%;
    margin: 50px 0 0 50px;
}

h1 { 
    font-weight: 700;
    font-size: 5em; 
    text-align: left;
    color: #696969;
    text-transform: uppercase;
    padding: 0 0 0 2%;
}

/*   Section - All:----------------*/

section {
    padding: 0 30px;
}

section::after {
    content: ' ';
    display: block;
    clear: both;
}


/*   Section - Main:----------------*/
section.main {
    background-color: #f7f7f7;
    position: relative;
    margin-top: 0; 
    margin-bottom: 2%;
    padding: 0;
}

section.main article {
    width: 25%;
    padding: 0 2% 2% 2%;
    float: left;
}

.container {
    width: 65%;
    height: 500px;
    padding: 0 2% 0 0;
    float: right;
}

.container img {
    width: 100%;
}


/*   Section - design:----------------*/
section.design {
    position: relative;
    margin: 2%; 
    padding: 0;
}

.imggallery {
    position: relative;
    width: 100%;
}




/*  Navigation */

nav {
    color: #696969;
    position: absolute;
    top: 70px; left: 0;
    padding: 0;
    width: 100%;
}

nav::after {
    content: '';
    display: block;
    clear: both;
}

nav ul {list-style: none;
    margin: 0;
    padding: 0px;
}

nav ul li a {
    display: inline-block;
    color: #696969;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
    position: relative;
    text-align: center;
}

nav ul li a:visited {
    (color: #b7b7b7)
}

nav ul li a:hover {
    color: #000;
    background-color: #ccc;
}


/*  top-level  */
nav > ul {
    padding-left: 70px;
}

nav > ul > li {
    float: right;
}

 
/* Footer
–––––––––––––––––––––––––––––––––––––––––––––– */
footer {
    font-size: .9em;
    background-color: #d2d2d2;
    margin: 0px;
    padding: 20px;
    color: #000;
    }

footer .content {
    display: inline;
    }

footer p {
    float: right;
}

footer a {
    margin-left: 30px;
    color: #777;
}

footer a:visited {
    color: #777;
}    

footer a:hover {
    color: #fff;
}


/*   Section - Main:----------------*/
@media screen and (max-width: 1000px){
    h1 {font-size: 2.4em;}

    /*  Header  */
    header div. hero {left: 56%; }
    header div.hero h1 {margin-botton: 20px; }

    /*  Section - Image Gallery */
@media screen and (max-width: 825px){
    h1 {font-size: 2.2em;}

    /*  Header  */
    header { height: 300px;
    background-image: url(../images/banner_825.jpg); }
    header div.hero { top: 120px; left: 48%;
    }

    /* Section - Image Gallery */









}