h1 {
	font-family: helvetica;
	font-size: 24px;
	font-weight: bold;
	background-color: white;
	text-align: center;
}

h2  {
	font-family: helvetica;
	color: black;
	font-size: 8px;
	font-weight: lighter;
	text-align: center;
	text-transform: uppercase;

}

image {
	background-size: cover;
	position: absolute;
	margin top: 200px;
}