nav {
	font-family: helvetica;
	font-size: 24px;
	color: black;
	font-weight: lighter;
	background-color: white;
	text-align: center;
	text-transform: uppercase;
}
ol {
    font-family: helvetica;
	font-size: 24px;
	color: black;
	font-weight: lighter;
	background-color: white;
	text-align-left;
	text-transform: uppercase;
}

h1 {
	font-family: helvetica;
	font-size: 48pt;
	font-weight: bold;
	text-align: center;
}

body: {
	text-align: center;
	margin-left: 3em;
	margin-right: 3em;
}

h2, h3  {
	font-family: helvetica;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}

p{
	font-family: serif;
	font-size: 24pt;
	font-weight: lighter;
	margin-left: 2em;
	margin-right: 2em;
	text-align: justify; 
}
a{
	font-family: helvetica;
	font-size: 24px;
	font-weight: lighter;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
}
